apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nextcloud.fullname" . }}
  labels:
    {{- include "nextcloud.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  {{- if .Values.revisionHistoryLimit }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- end }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "nextcloud.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secureconfig: {{ include (print $.Template.BasePath "/secureconfig.yaml") . | sha256sum }}
        checksum/extendedconfigs: {{ include (print $.Template.BasePath "/extendedconfigs.yaml") . | sha256sum }}
        checksum/customconfigs: {{ include (print $.Template.BasePath "/customconfigs.yaml") . | sha256sum }}
    {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "nextcloud.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nextcloud.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: {{ .Chart.Name }}-initdatavol
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.initImage.registry }}/{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          # set Nextcloud directories to 770 and allow access only by www-data
          args:
            - /bin/sh
            - -c
            - /scripts/initdatavol.sh
          volumeMounts:
            - mountPath: /var/datavolume
              name: nextcloud-data-vol
            - mountPath: /scripts
              name: scripts
        - name: {{ .Chart.Name }}-initconfig
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - /bin/sh
            - -c
            - /scripts/initconfigs.sh
          volumeMounts:
            - mountPath: /confd
              name: confd
            - mountPath: /apache2
              name: apache2
            - mountPath: /usr/local/etc/php/conf.d/custom.ini
              subPath: custom.ini
              name: extendedconfigs
            - mountPath: /usr/local/etc/php/conf.d/redis-session.ini
              subPath: redis-session.ini
              name: extendedconfigs
            - mountPath: /etc/apache2/ports.conf
              subPath: ports.conf
              name: extendedconfigs
            - mountPath: /etc/apache2/000-default.conf
              subPath: 000-default.conf
              name: extendedconfigs
            - mountPath: /scripts
              name: scripts
      {{- with .Values.extraInitContainers }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - secretRef:
                name: {{ include "nextcloud.fullname" . }}
          {{- range .Values.extraEnvSecrets }}
            - secretRef:
                name: {{ . }}
          {{- end }}
          {{- range .Values.extraEnvConfigs }}
            - configMapRef:
                name: {{ . }}
          {{- end }}
          env:
            - name: NEXTCLOUD_DATA_DIR
              value: /var/datavolume/data
            {{- include "nextcloud.environment" . | nindent 12 }}
          {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort  }}
              protocol: TCP
          {{- if .Values.customLivenessProbe }}
          livenessProbe:
            {{- toYaml .Values.customLivenessProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /status.php
              port: http
              httpHeaders:
                - name: Host
                  value: localhost:{{ .Values.containerPort  }}
          {{- with .Values.livenessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
            periodSeconds: {{ .periodSeconds }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.customStartupProbe }}
          startupProbe:
            {{- toYaml .Values.customStartupProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: /status.php
              port: http
              httpHeaders:
                - name: Host
                  value: localhost:{{ .Values.containerPort  }}
          {{- with .Values.startupProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
            periodSeconds: {{ .periodSeconds }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.customReadinessProbe }}
          readinessProbe:
            {{- toYaml .Values.customReadinessProbe | nindent 12 }}
          {{- else }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /status.php
              port: http
              httpHeaders:
                - name: Host
                  value: localhost:{{ .Values.containerPort  }}
          {{- with .Values.readinessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            failureThreshold: {{ .failureThreshold }}
            successThreshold: {{ .successThreshold }}
            periodSeconds: {{ .periodSeconds }}                
          {{- end }}
          {{- end }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.args }}
          args:
            {{- range .Values.args }}
            - {{ . }}
            {{- end }}
          {{- end }}          
          volumeMounts:
            - mountPath: /var/www/html
              name: nextcloud-vol
            - mountPath: /var/datavolume
              name: nextcloud-data-vol
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/run
              name: run
            - mountPath: /etc/apache2
              name: apache2
            - mountPath: /usr/local/etc/php/conf.d
              name: confd
            {{- range $secret := .Values.extraSecrets }}
            - mountPath: {{ $secret.mountPath }}
              name: {{ $secret.name }}
            {{- end }}
      {{- with .Values.extraContainers }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        - name: run
          emptyDir: {}
        - name: confd
          emptyDir: {}
        - name: apache2
          emptyDir: {}
        - name: extendedconfigs
          configMap:
            name: {{ include "nextcloud.fullname" . }}-extendedconfigs
        - name: scripts
          configMap:
            name: {{ include "nextcloud.fullname" . }}-scripts
            defaultMode: 0555
        {{- range $secret := .Values.extraSecrets }}
        - name: {{ $secret.name }}
          secret:
            secretName: {{ $secret.name }}
            defaultMode: 0440
        {{- end }}
        - name: nextcloud-vol
        {{- if .Values.storage.nextcloud.persistentVolumeClaimName }}
          persistentVolumeClaim:
            claimName: {{ .Values.storage.nextcloud.persistentVolumeClaimName }}
        {{- else }}
        {{- if .Values.storage.nextcloud.requestedSize }}
          persistentVolumeClaim:
            claimName: {{ include "nextcloud.fullname" . }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- end }}
        - name: nextcloud-data-vol
        {{- if .Values.storage.nextcloudData.persistentVolumeClaimName }}
          persistentVolumeClaim:
            claimName: {{ .Values.storage.nextcloudData.persistentVolumeClaimName }}
        {{- else }}
        {{- if .Values.storage.nextcloudData.requestedSize }}
          persistentVolumeClaim:
            claimName: {{ include "nextcloud.fullname" . }}-data
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- end }}
