{{- if .Values.customConfig }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mongodb.fullname" . }}-customconfig
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
data:
  custom.conf: |
    {{- .Values.customConfig | nindent 4 }}
{{- end }}
