apiVersion: v2
name: gitea
description: A Helm chart for Gitea on Kubernetes

type: application

maintainers:
  - name: groundhog2k

# This is the chart version
version: "0.10.0"

# This is the version number of the application being deployed.
appVersion: "1.21.0"

dependencies:
  - name: mariadb
    version: "0.2.28"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: postgres
    version: "0.2.26"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: postgres.enabled
  - name: redis
    version: "0.6.14"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: redis.enabled
