apiVersion: v2
name: gitea
description: A Helm chart for Gitea on Kubernetes

type: application

maintainers:
  - name: groundhog2k

# This is the chart version
version: 0.1.0

# This is the version number of the application being deployed.
appVersion: "1.12.6"

dependencies:
  - name: mariadb
    version: 0.1.4
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: postgres
    version: 0.1.2
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: postgres.enabled
  - name: redis
    version: 0.1.2
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: redis.enabled
