apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: "0.94.1"

appVersion: "5.52.3"

dependencies:
  - name: mariadb
    version: "0.2.26"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: mysql
    version: "0.1.9"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mysql.enabled
