apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: 0.13.2

appVersion: "4.10.2"

dependencies:
  - name: mariadb
    version: 0.2.13
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
