apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: "0.149.3"

appVersion: "5.110.4"

dependencies:
  - name: mariadb
    version: "0.2.28"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: mysql
    version: "0.2.0"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mysql.enabled
