apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: 0.23.0

appVersion: "4.20.3"

dependencies:
  - name: mariadb
    version: 0.2.14
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
