apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: 0.33.3

appVersion: "4.32.2"

dependencies:
  - name: mariadb
    version: 0.2.16
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
