apiVersion: v2
name: ghost
description: A Helm chart for Ghost on Kubernetes

type: application

maintainers:
  - name: groundhog2k

version: 0.2.17

appVersion: "3.41.5"

dependencies:
  - name: mariadb
    version: 0.2.9
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
