{{- if .Values.customConfig }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "mariadb.fullname" . }}
  labels:
    {{- include "mariadb.labels" . | nindent 4 }}
data:
  custom.cnf: |
    {{- .Values.customConfig | nindent 4 }}
{{- end }}
