apiVersion: v2
name: nextcloud
description: A Helm chart for Nextcloud on Kubernetes

type: application

maintainers:
  - name: groundhog2k

# This is the chart version.
version: "0.15.2"

# This is the version number of the application being deployed.
appVersion: "27.1.2-apache"

dependencies:
  - name: mariadb
    version: "0.3.14"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: postgres
    version: "0.4.6"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: postgres.enabled
  - name: redis
    version: "0.6.14"
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: redis.enabled
