apiVersion: v2
name: nextcloud
description: A Helm chart for Nextcloud on Kubernetes

type: application

maintainers:
  - name: groundhog2k

# This is the chart version.
version: 0.5.4

# This is the version number of the application being deployed.
appVersion: "21.0.1-apache"

dependencies:
  - name: mariadb
    version: 0.2.10
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: mariadb.enabled
  - name: postgres
    version: 0.2.9
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: postgres.enabled
  - name: redis
    version: 0.3.2
    repository: "https://groundhog2k.github.io/helm-charts"
    condition: redis.enabled
