apiVersion: v1
kind: Service
metadata:
  name: {{ include "rabbitmq.fullname" . }}
  labels:
    {{- include "rabbitmq.labels" . | nindent 4 }}
    type: LoadBalancer
spec:
  ports:
    - port: {{ .Values.service.amqp.port }}
      targetPort: amqp
      name: amqp
      {{- if and ( or (eq .Values.service.type "LoadBalancer") (eq .Values.service.type "NodePort") ) (.Values.service.amqp.nodePort) }}
      nodePort: {{ .Values.service.amqp.nodePort }}
      {{- end }}
    - port: {{ .Values.service.mgmt.port }}
      targetPort: mgmt
      name: mgmt
      {{- if and ( or (eq .Values.service.type "LoadBalancer") (eq .Values.service.type "NodePort") ) (.Values.service.mgmt.nodePort) }}
      nodePort: {{ .Values.service.mgmt.nodePort }}
      {{- end }}
  {{- if and (eq .Values.service.type "LoadBalancer") (.Values.service.loadBalancerIP) }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  selector:
    {{- include "rabbitmq.selectorLabels" . | nindent 4 }}
  type: {{ .Values.service.type }}
