apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ghost.fullname" . }}
  labels:
    {{- include "ghost.labels" . | nindent 4 }}
stringData:
{{- if .Values.mariadb.enabled }}
  database__client: "mysql"
  database__connection__host: {{ include "mariadb.servicename" . }}
  database__connection__port: {{ .Values.mariadb.service.port | quote }}
  {{- with .Values.mariadb.userDatabase }}  
  database__connection__database: {{ .name }}
  database__connection__user: {{ .user }}
  database__connection__password: {{ .password }}
  {{- end }}
{{- else }}
  {{- with .Values.externalDatabase }}
  {{- if or (eq .type "mariadb") (eq .type "mysql") }}
  database__client: "mysql"
  database__connection__host: {{ .host }}
  database__connection__port: {{ .port | default (3306) | quote }}
  database__connection__user: {{ .user }}
  database__connection__password: {{ .password }}
  database__connection__database: {{ .name }}
  {{- else }}
  database__client: "sqlite3"
  {{- end }}
  {{- end }}
{{- end }}