apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ghost.fullname" . }}
  labels:
    {{- include "ghost.labels" . | nindent 4 }}
data:
{{- if .Values.mariadb.enabled }}
  database__client: {{ "mysql" | b64enc }}
  database__connection__host: {{ (include "mariadb.servicename" .) | b64enc }}
  database__connection__port: {{ (.Values.mariadb.service.port | toString) | b64enc }}
  {{- with .Values.mariadb.userDatabase }}  
  database__connection__database: {{ .name | b64enc }}
  database__connection__user: {{ .user | b64enc }}
  database__connection__password: {{ .password | b64enc }}
  {{- end }}
{{- else }}
{{- if .Values.mysql.enabled }}
  database__client: {{ "mysql" | b64enc }}
  database__connection__host: {{ (include "mysql.servicename" .) | b64enc }}
  database__connection__port: {{ (.Values.mysql.service.port | toString) | b64enc }}
  {{- with .Values.mysql.userDatabase }}  
  database__connection__database: {{ .name | b64enc }}
  database__connection__user: {{ .user | b64enc }}
  database__connection__password: {{ .password | b64enc }}
  {{- end }}
{{- else }}
  {{- with .Values.externalDatabase }}
  database__client: {{ "mysql" | b64enc }}
  database__connection__host: {{ .host | b64enc }}
  database__connection__port: {{ (.port | default "3306") | toString | b64enc }}
  database__connection__user: {{ .user | b64enc }}
  database__connection__password: {{ .password | b64enc }}
  database__connection__database: {{ .name | b64enc }}
  {{- end }}
  {{- if and .Values.settings.useSqlite (not .Values.externalDatabase) }}
  database__client: {{ "sqlite3" | b64enc }}
  database__connection__filename: {{ .Values.settings.sqliteDatabaseFile | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
{{- with .Values.settings.mail }}
{{- if .user }}
  mail__options__auth__user: {{ .user | b64enc }}
{{- end }}
{{- if .password }}
  mail__options__auth__pass: {{ .password | b64enc }}
{{- end }}
{{- end }}
