name: Lint test charts

## Lint helm chart on every pull requests
on:
  pull_request:
    paths:
      - 'charts/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch history
        run: git fetch --prune --unshallow        
      - name: Run lint
        uses: helm/chart-testing-action@v2.1.0
        with:
          command: lint
          config: .github/verify-config.yaml
