apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gitea.fullname" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
stringData:
  app.ini: |-
    {{- if not (hasKey .Values.gitea.config "database") -}}
    {{- $_ := set .Values.gitea.config "database" dict -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config "cache") -}}
    {{- $_ := set .Values.gitea.config "cache" dict -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config "session") -}}
    {{- $_ := set .Values.gitea.config "session" dict -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config "server") -}}
    {{- $_ := set .Values.gitea.config "server" dict -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config "security") -}}
    {{- $_ := set .Values.gitea.config "security" dict -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config "oauth2") -}}
    {{- $_ := set .Values.gitea.config "oauth2" dict -}}
    {{- end -}}
  {{- if .Values.mariadb.enabled }}
    {{- $_ := set .Values.gitea.config.database "SSL_MODE" "disable" -}}
    {{- $_ := set .Values.gitea.config.database "DB_TYPE" "mysql" -}}
    {{- $_ := set .Values.gitea.config.database "CHARSET" "utf8mb4" -}}
    {{- $_ := set .Values.gitea.config.database "HOST" (include "mariadb.servicename" .) -}}
    {{- $_ := set .Values.gitea.config.database "NAME" .Values.mariadb.userDatabase.name -}}
    {{- $_ := set .Values.gitea.config.database "USER" .Values.mariadb.userDatabase.user -}}
    {{- $_ := set .Values.gitea.config.database "PASSWD" .Values.mariadb.userDatabase.password -}}
  {{- else }}
  {{- if .Values.postgres.enabled }}
    {{- $_ := set .Values.gitea.config.database "SSL_MODE" "disable" -}}
    {{- $_ := set .Values.gitea.config.database "DB_TYPE" "postgres" -}}
    {{- $_ := set .Values.gitea.config.database "HOST" (include "postgres.servicename" .) -}}
    {{- $_ := set .Values.gitea.config.database "NAME" .Values.postgres.userDatabase.name -}}
    {{- $_ := set .Values.gitea.config.database "USER" .Values.postgres.userDatabase.user -}}
    {{- $_ := set .Values.gitea.config.database "PASSWD" .Values.postgres.userDatabase.password -}}
  {{- else }}
    {{- $_ := set .Values.gitea.config.database "DB_TYPE" "sqlite3" -}}
  {{- end }}
  {{- end }}
  {{- if .Values.redis.enabled }}
    {{- $_ := set .Values.gitea.config.cache "ENABLED" "true" -}}
    {{- $_ := set .Values.gitea.config.cache "ADAPTER" "redis" -}}
    {{- $_ := set .Values.gitea.config.cache "HOST" (printf "network=tcp,addr=%s:%s,db=0,pool_size=100,idle_timeout=180" (include "redis.servicename" .) (toString .Values.redis.service.port)) -}}
    {{- $_ := set .Values.gitea.config.session "PROVIDER" "redis" -}}
    {{- $_ := set .Values.gitea.config.session "PROVIDER_CONFIG" (printf "network=tcp,addr=%s:%s,db=0,pool_size=100,idle_timeout=180" (include "redis.servicename" .) (toString .Values.redis.service.port)) -}}
  {{- end }}
    {{- if not (hasKey .Values.gitea.config.server "ROOT_URL") -}}
    {{- if .Values.ingress.enabled -}}
    {{- if gt (len .Values.ingress.tls) 0 -}}
    {{- $_ := set .Values.gitea.config.server "ROOT_URL" (printf "%s://%s" "https" (index (index .Values.ingress.tls 0).hosts 0)) -}}
    {{- if not (hasKey .Values.gitea.config.server "DOMAIN") -}}
    {{- $_ := set .Values.gitea.config.server "DOMAIN" (index (index .Values.ingress.tls 0).hosts 0) -}}
    {{- end -}}
    {{- else -}}
    {{- $_ := set .Values.gitea.config.server "ROOT_URL" (printf "%s://%s" .Values.gitea.config.server.PROTOCOL (index .Values.ingress.hosts 0)) -}}
    {{- if not (hasKey .Values.gitea.config.server "DOMAIN") -}}
    {{- $_ := set .Values.gitea.config.server "DOMAIN" (index .Values.ingress.hosts 0) -}}
    {{- end -}}
    {{- end -}}
    {{- else -}}
    {{- $_ := set .Values.gitea.config.server "ROOT_URL" (printf "%s://%s" .Values.gitea.config.server.PROTOCOL .Values.gitea.config.server.DOMAIN) -}}
    {{- end -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config.server "SSH_DOMAIN") -}}
    {{- $_ := set .Values.gitea.config.server "SSH_DOMAIN" .Values.gitea.config.server.DOMAIN -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config.server "SSH_LISTEN_PORT") -}}
    {{- $_ := set .Values.gitea.config.server "SSH_LISTEN_PORT" .Values.containerSshPort -}}
    {{- $_ := set .Values.gitea.config.server "SSH_PORT" .Values.services.ssh.port -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config.server "HTTP_PORT") -}}
    {{- $_ := set .Values.gitea.config.server "HTTP_PORT" .Values.containerHttpPort -}}
    {{- end -}}

    {{- if not (hasKey .Values.gitea.config.server "LFS_JWT_SECRET") -}}
    {{- $_ := set .Values.gitea.config.server "LFS_JWT_SECRET" (randAlphaNum 43) -}}
    {{- end -}}

    {{- if not (hasKey .Values.gitea.config.security "SECRET_KEY") -}}
    {{- $_ := set .Values.gitea.config.security "SECRET_KEY" (randAlphaNum 65) -}}
    {{- end -}}
    {{- if not (hasKey .Values.gitea.config.security "INTERNAL_TOKEN") -}}
    {{- $_ := set .Values.gitea.config.security "INTERNAL_TOKEN" (randAlphaNum 105) -}}
    {{- end -}}

    {{- if not (hasKey .Values.gitea.config.oauth2 "JWT_SECRET") -}}
    {{- $_ := set .Values.gitea.config.oauth2 "JWT_SECRET" (randAlphaNum 43) -}}
    {{- end -}}

    {{- /* autogenerate app.ini */ -}}
    {{- range $key, $value := .Values.gitea.config  }}
    {{- if kindIs "map" $value }}
    {{- if gt (len $value) 0 }}
    [{{ $key }}]
    {{- range $n_key, $n_value := $value }}
    {{ $n_key | upper }} = {{ $n_value }}
    {{- end }}
    {{- end }}
    {{- else }}
    {{ $key | upper }} = {{ $value }}
    {{- end }}
    {{- end }}